## Business Understanding

I am interested in using a data analysis approach to know more about the situation of Women in Computer Programming. I hope to use the analysis results to provide some useful information to anyone who need this kind of research. The key questions I would like to answer are:

- what is the situation of women in Italy in the programming world compared to man?
- what is the identikit of women who work in computer programming in Italy? What are their qualifications?
- Instead in USA, what is the situation of super qualified women in tech ?

## Data Understanding

The data used in this analysi was Stack Overflow’s developer survey data from 2017 to 2019. Respondents from about 200 countries gave their answers to about 150 survey questions. This notebook attempted to use the survey questions to answer the three questions listed in the Business Understanding section.

## Gather Data

Data has been gathered by Stack Overflow survey. The following cells import necessary Python libraries, and read them into Pandas Dataframe.

In [32]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from pandasql import sqldf

## Italy situation in 2017

## Prepare Data

The following cell help me to access Data, select the columns and the values that I need for my analysis.

In [33]:
#Read data
stack_2017 = pd.read_csv('2017_survey_results_public.csv')

In [34]:
stack_2017 = stack_2017[['Country','Gender','FormalEducation','Professional','Salary']]

In [35]:
Italy_2017 = stack_2017.loc[stack_2017['Country']=='Italy']

In [36]:
#In this part I used dropna in order to drop all null value in the column Gender. For my analysis I need only to know if the gender is Male of Female#
Ita_2017 = Italy_2017.dropna(subset = ['Gender'])

In [37]:
Ita_17 = Ita_2017[Ita_2017['Gender'].isin(['Male','Female'])]
Ita_Dev17 = Ita_17[Ita_17['Professional'].isin(['Professional developer'])]

In [38]:
Ita_F17 = Ita_Dev17.loc[Ita_Dev17['Gender']=='Female']

In [39]:
Ita_M17 = Ita_Dev17.loc[Ita_Dev17['Gender']=='Male']

## Results for Italy in 2017

In [40]:
# A first overview of the total number of people in tech world based on the data of the survey#
print(Ita_Dev17.shape[0])
# A first overview of the number of female in tech world#
print(Ita_F17.shape[0])
# A first overview of the number of male in tech world#
print(Ita_M17.shape[0])

391
12
379

In [41]:
perc_Ita_F = Ita_F17.shape[0] / Ita_Dev17.shape[0] *100

In [42]:
#Percentage of women in tech world in Italy #
"{:.2f} %".format(perc_Ita_F)

'3.07 %'

In [44]:
func = lambda q : sqldf(q , globals())

q = """
select *
from Ita_Dev17
where FormalEducation like '%Master%' or 
FormalEducation like '%Bachelor%' or 
FormalEducation like '%Professional%' or 
FormalEducation like '%doctoral%';
"""

Dev_OverQual17_Ita = func(q)

In [45]:
Dev_OverQual17_Ita.head()

,Country,Gender,FormalEducation,Professional,Salary
0,Italy,Male,Master's degree,Professional developer,NaN
1,Italy,Male,Master's degree,Professional developer,43010.752688
2,Italy,Male,Some college/university study without earning ...,Professional developer,NaN
3,Italy,Male,Bachelor's degree,Professional developer,37634.408602
4,Italy,Male,Some college/university study without earning ...,Professional developer,43010.752688

In [46]:
#percentage of woman developer overqualified on number of developer women#
Dev_OverQual_F17_Ita = len(Dev_OverQual17_Ita.loc[Dev_OverQual17_Ita['Gender']=='Female'])/Ita_F17.shape[0] * 100 

#percentage of man developer overqualified on number of developer man#
Dev_OverQual_M17_Ita = len(Dev_OverQual17_Ita.loc[Dev_OverQual17_Ita['Gender']=='Male'])/Ita_M17.shape[0] * 100

In [47]:
# output: percentage of woman developer overqualified on number of developer women#
print("{:.2f} %".format(Dev_OverQual_F17_Ita))
# output: percentage of woman developer overqualified on number of developer women#
print("{:.2f} %".format(Dev_OverQual_M17_Ita))

91.67 %
77.57 %

In [18]:
## export outputs ##
Italy_2017.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Ita_17\Italy_2017.xlsx', index=False, header=True)
Ita_2017.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Ita_17\ItaDropnaByGender_2017.xlsx', index=False, header=True)
Ita_17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Ita_17\ItaMF_17.xlsx', index=False, header=True)
Ita_Dev17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Ita_17\ItaDev_17.xlsx', index=False, header=True)
Ita_F17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Ita_17\ItaDev_F17.xlsx', index=False, header=True)
Ita_M17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Ita_17\ItaDev_M17.xlsx', index=False, header=True)
Dev_OverQual17_Ita.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Ita_17\ItaDev_OverQ17.xlsx', index=False, header=True)

## USA Situation in 2017   

## Prepare Data

The following cell help me to access Data, select the columns and the values that I need for my analysis.

In [48]:
Usa_2017 = stack_2017.loc[stack_2017['Country']=='United States']

In [49]:
#In this part I used dropna in order to drop all null value in the column Gender. For my analysis I need only to know if the gender is Male of Female#
Usa_17 = Usa_2017.dropna(subset = ['Gender'])

In [50]:
USA_MF17 = Usa_17[Usa_17['Gender'].isin(['Male','Female'])]
Usa_Dev17 = USA_MF17[USA_MF17['Professional'].isin(['Professional developer'])]

In [51]:
Usa_F17 = Usa_Dev17.loc[Usa_Dev17['Gender']=='Female']

In [52]:
Usa_M17 = Usa_Dev17.loc[Usa_Dev17['Gender']=='Male']

## Results for Usa in 2017

In [53]:
# A first overview of the total number of people in tech world in Usa based on the data of the survey#
print(Usa_Dev17.shape[0])
# A first overview of the number of women in tech world in Usa based on the data of the survey#
print(Usa_F17.shape[0])
# A first overview of the total number of men in tech world in Usa based on the data of the survey#
print(Usa_M17.shape[0])

6373
636
5737

In [54]:
perc_Usa_F = Usa_F17.shape[0] / Usa_Dev17.shape[0] *100

In [55]:
#Percentage of women in tech world in Usa in 2017 #
"{:.2f} %".format(perc_Usa_F)

'9.98 %'

In [56]:
func_1 = lambda d : sqldf(d , globals())

d = """
select *
from Usa_Dev17
    where FormalEducation like '%Master%' or 
    FormalEducation like'%Bachelor%' or 
    FormalEducation like'%Professional%' or 
    FormalEducation like'%doctoral%';
"""

Dev_OverQual17_Usa = func(d)

In [57]:
Dev_OverQual17_Usa.head()

         Country Gender    FormalEducation            Professional    Salary
0  United States   Male  Bachelor's degree  Professional developer  130000.0
1  United States   Male    Master's degree  Professional developer  175000.0
2  United States   Male  Bachelor's degree  Professional developer       NaN
3  United States   Male  Bachelor's degree  Professional developer       NaN
4  United States   Male    Master's degree  Professional developer       NaN

In [58]:
### percentage of woman developer overqualified on number of developer women##
Dev_OverQual_F17_Usa = len(Dev_OverQual17_Usa.loc[Dev_OverQual17_Usa['Gender']=='Female'])/Usa_F17.shape[0] * 100 

### percentage of man developer overqualified on number of developer man##
Dev_OverQual_M17_Usa = len(Dev_OverQual17_Usa.loc[Dev_OverQual17_Usa['Gender']=='Male'])/Usa_M17.shape[0] * 100

In [59]:
### percentage of woman developer overqualified on number of developer women##
print("{:.2f} %".format(Dev_OverQual_F17_Usa))
### percentage of man developer overqualified on number of developer man##
print("{:.2f} %".format(Dev_OverQual_M17_Usa))

99.69 %
95.76 %

In [54]:
########### export outputs #########################
Usa_2017.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Usa_17\Usa_2017.xlsx', index=False, header=True)
Usa_17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Usa_17\UsaDropnaByGender_2017.xlsx', index=False, header=True)
USA_MF17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Usa_17\UsaMF_17.xlsx', index=False, header=True)
Usa_Dev17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Usa_17\UsaDev_17.xlsx', index=False, header=True)
Usa_F17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Usa_17\UsaDev_F17.xlsx', index=False, header=True)
Usa_M17.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Usa_17\UsaDev_M17.xlsx', index=False, header=True)
Dev_OverQual17_Usa.to_excel(r'C:\Users\moryb\OneDrive\Desktop\Project1\output\output_17\Usa_17\UsaDev_OverQ17.xlsx', index=False, header=True)